* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Segoe UI, sans-serif;
  background: whitesmoke;
  text-align: center;
  margin-bottom: 15px;
}

#funcionamento {
  padding-bottom: 15px;
}

#title {
  margin: 15px;
  font-size: 30px;
}

#texto-tarefa {
  width: 155px;
}

#lista-tarefas {
  padding-top: 15px;
}

.completed {
  text-decoration: line-through solid rgb(0, 0, 0);
}

.selected {
  background-color: rgb(128, 128, 128);
}

#tools {
    padding-top: 15px;
}