* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Segoe UI, sans-serif;
  background: whitesmoke;
  text-align: center;
  margin-bottom: 15px;
  background-color: #ffd76a;
  font-size: 20px;
  height: 100%;
  padding-bottom: 35px;
}

button {
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  border-radius: 12px;
  font-size: 20px;
}

button:hover {
  transform: scale(1.07);
  color: white;
  border: 1px solid black;
}

li:hover {
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
}

#funcionamento {
  padding-bottom: 15px;
}

#title {
  margin: 15px;
  font-size: 37px;
}

#texto-tarefa {
  width: 230px;
  font-size: 20px;
}

#texto-tarefa:hover {
  transform: scale(1.07);
  border: 2px solid black;
}

#lista-tarefas {
  padding-top: 15px;
}

.completed {
  text-decoration: line-through solid black;
  opacity: 65%;
}

.selected {
  background-color: gray;
  color: aliceblue;
}

#tools {
  padding-top: 15px;
}

#mover-baixo,
#mover-cima,
#remover-selecionado {
  width: 45px;
  background-color: #161e54;
  color: white;
}

#mover-baixo:hover,
#mover-cima:hover,
#remover-selecionado {
  border: 1px solid white;
}

#texto-tarefa {
  background-color: white;
  font-weight: 700;
  color: black;
}

#apaga-tudo,
#remover-finalizados {
  background-color: #ff5151;
}

#salvar-tarefas,
#criar-tarefa {
  background-color: #88e0ef;
}
/* usadas algumas cores daqui https://colorhunt.co/palette/88e0ef161e54ff5151ff9b6a */
